
<html>
<head>
<style>

</style>
</head>
<body>

  <table style="background-color:white;margin:0 auto;padding-top:20px;max-width:600px;" width="100%" cellspacing="0" cellpadding="0" align="center">
      <tbody>
      <tr>
          <td>
              <table style="border-collapse:collapse;padding-bottom:20px;padding-top:20px;max-width:500px;margin:0 auto;" width="100%" align="center">
                  <tbody>
                  <tr>
                      <td>
                        <a href="#">
                          <img width="600" style="display: block;" src="https://cdn.shopifycdn.net/s/files/1/0274/6839/8703/files/ABANDONED_CART_2x_dd52bcc3-f86b-4bec-a51c-880385ae2124.png?v=1609067655" />
                        </a>
                      </td>
                  </tr>
                  <tr>
                      <td align="left" width="100%">
                          <a style="text-decoration:none;" href="https://aether-eyewear.com/cart" target="_blank" rel="noopener noreferrer">
                              <span style="display: inline-block;color:white;font-weight:bold;font-size:14px;line-height:70px;width:300px;font-family:GTAmerica-ExtendedMedium;background-color:black;text-align:center;vertical-align:middle;margin-bottom:50px;margin-left:50px;">CHECK OUT NOW
                              </span>
                              {% if custom_message != blank %}
                              <p>{{ custom_message }}</p>
                              {% else %}
                              <p>{{ email_body }}</p>
                              {% endif %}
                            </td>
                          </a>
                      </td>
                      <td>

                  </tr>
                  </tbody>
              </table>
          </td>
      </tr>
      <tr>
          <td style="background-color:#f0f0f0;">
              <table style="border-collapse:collapse;max-width:500px;margin-top:77px;padding:50px 0; color: black;" width="100%" cellspacing="0" cellpadding="0" align="center">
                  <tbody>
                  <tr>
                      <td align="left" style="border-bottom:solid 1px #979797;">
                          <span style="font-family: GTAmerica-ExtendedMedium;font-size:14px;font-weight:bold;line-height:19px;padding-bottom:30px;text-align:left;float:left;color: black;">
                              ORDER SUMMARY
                          </span>
                          <span style="font-family: SctoGroteskA-Regular;font-size:12px;color: black;min-width:200px;line-height:19px;padding-bottom:30px;text-align:right;float:right;">
                              {{created_at | date: "%d %b %Y"}}
                          </span>
                      </td>
                  </tr>
                  </tbody>
              </table>
          </td>
      </tr>
      <!-- @repeat items -->
      <tr>
          <td style="background-color:#f0f0f0;">
              <table style="border-collapse:collapse;border-bottom:1px solid #f0f0f0;max-width:500px; color:black;" width="100%" cellspacing="0" cellpadding="0" align="center">
              <tbody>
    {% for line in line_items %}

                  <tr style="border-bottom: solid 1px #979797; padding-bottom:30px;" >
                      <td style="width:100px;padding-top:30px;padding-bottom:30px;height:60px;display:inline-block;"><img src={{ line | img_url: 'compact_cropped' }} width="60" height="60" data-imagetype="External"/> </td>
                      <td style="vertical-align:top; padding-top:30px;">
                          <table style="max-width:500px;padding-bottom:30px;padding-top:30px;border-collapse:collapse;">
                          <tbody>
                              <tr style="vertical-align:top;height:20px">
                                  <td width="129px" style="font-family:SctoGroteskA-Regular;font-size:10px;color:#666666;">Product</td>
                                  <td width="111px" style="font-family:SctoGroteskA-Regular;font-size:10px;color:#666666;">Colour</td>
                                  <td width="110px" style="font-family:SctoGroteskA-Regular;font-size:10px;color:#666666;;">Quantity</td>
                                  <td width="50px" style="font-family:SctoGroteskA-Regular;font-size:10px;color:#666666;">Total</td>
                              </tr>

                              <tr style="height:30px">
                                  <td width="129px" style="font-family: SctoGroteskA-Medium;font-size: 11px;color: #000000;letter-spacing: 0;font-weight:bold;"> {{line.title}}</td>
                                  <td width="111px" style="font-family: SctoGroteskA-Medium;font-size: 11px;color: #000000;letter-spacing: 0;font-weight:bold;">{{line.properties["colour"]}} </td>
                                  <td width="110px" style="font-family: SctoGroteskA-Medium;font-size: 11px;color: #000000;letter-spacing: 0;font-weight:bold;">x {{line.quantity}}</td>
                                  <td width="50px" style="font-family: SctoGroteskA-Medium;font-size: 11px;color: #000000;letter-spacing: 0;font-weight:bold;">{{line.line_price | money_without_currency}}</td>
                              </tr>

                          </tbody>
                          </table>
                      </td>
                  </tr>
  {% endfor %}

              </tbody>
              </table>
          </td>
      </tr>
      <!-- @end-repeat items -->

      <!-- items totals -->
      <tr>
          <td style="background-color:#f0f0f0;">
              <table style="max-width:500px;border-collapse:collapse;margin:0 auto;margin-bottom:20px;" cellspacing="0" cellpadding="0" align="center">
                  <tbody>
                      <tr style="height: 72px">
                          <td align="left" width="300"></td>
                          <td align="left" width="100"><span style="font-family: SctoGroteskA-Medium; font-size: 12px; line-height: 22px; display:inline-block;text-align:center;width:100%;">Total</span></td>
                          <td align="left" width="100"><span style="font-family:SctoGroteskA-Medium;font-size:12px;line-height:22px;padding:0 0 10px;">{{total_price | money_with_currency}}</span></td>
                      </tr>
                  </tbody>
              </table>
          </td>
      </tr>
      <!-- end items totals -->
      <tr>
        <td>
          <a href="#">
            <img width="600" style="display: block;" src="https://cdn.shopifycdn.net/s/files/1/0274/6839/8703/files/Footer_Block_2x_66c03a3f-1028-43fc-a691-09795a31fff5.png?v=1609230333" />
          </a>
        </td>
      </tr>

      </tbody>
  </table>


</body>
</html>
