{% capture email_created_at %}

{% for transaction in transactions %}
        {% unless transaction.kind == "capture" or transaction.kind == "void" %}
          {% assign order_transaction_time = transaction.created_at %}
        {% endunless %}
      {% endfor %}

{% endcapture %}

<!DOCTYPE html>
<html lang="en">
  <head>
  <title>{{ email_title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
  <style>
    .button__cell { background: {{ shop.email_accent_color }}; }
    a, a:hover, a:active, a:visited { color: {{ shop.email_accent_color }}; }
  </style>
</head>
<body>
    <table style="background-color:white;margin:0 auto;padding-top:20px;max-width:600px;width:600px;" width="100%" cellspacing="0" cellpadding="0" align="center">
    <tbody>
    <tr>
        <td>
          <a href="#">
            <img width="600" style="display: block;" src="https://cdn.shopifycdn.net/s/files/1/0274/6839/8703/files/ORDER_RECEIVED_2x_f9f1a1c5-ac62-49dd-b465-24653ea06569.png?v=1609134281" />
          </a>
        </td>
    </tr>

    <tr>
        <td style="background-color:#f0f0f0;">
            <table style="border-collapse:collapse;max-width:500px;margin-top:77px;padding-left:50px;padding-right:50px;" cellspacing="0" cellpadding="0" align="center">
                <tbody>
                <tr>
                    <td align="left">
                        <span style="font-family: GTAmerica-ExtendedMedium;font-size:14px;font-weight:bold;line-height:19px;padding-bottom:30px;text-align:left;float:left;color: black;">
                            YOUR ORDER {{ order_name }}
                        </span>
                        <span style="font-family: SctoGroteskA-Regular;font-size:12px;color: black;min-width:200px;line-height:19px;padding-bottom:30px;text-align:right;float:right;">
                          {{order_transaction_time | date: "%d %b %Y"}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="width:100%;">
                        <table style="border-collapse:collapse;width:100%;border-top: 1px solid #979797;padding-top:50px;">
                        <tbody>
                            <tr>
                                <td style="padding-top:50px;padding-bottom:50px;vertical-align:top;">
                                    <table style="width:185px;padding-bottom:30px;font-family: SctoGroteskA-Regular;font-size:12px;color: black;line-height: 21px;">
                                    <tbody>
                                        <tr>
                                            <td style="padding-bottom:16px">
                                            <span style="font-family: SctoGroteskA-Medium;font-size:12px;color:black;font-weight:bold;opacity: 1;">Shipping Details</span>
                                            </td>
                                        </tr>
                                        <tr style="height:120px">
                                          <td>
                                          <div style="list-style:none;padding-left:0;margin:0;">
                                            {% if shipping_address.name %} <div style="opacity: 0.6;">{{ shipping_address.name }}</div> {% endif %}
                                            {% if shipping_address.street %}<div style="opacity: 0.6;">{{ shipping_address.street }}</div>{% endif %}
                                            {% if shipping_address.city || shipping_address.province || shipping_address.country %}<div style="opacity: 0.6;">{{shipping_address.city}} {{shipping_address.province}} {{ shipping_address.country }}, {{ shipping_address.zip }}</div>{% endif %}
                                            {% if shipping_address.phone %}<div style="opacity: 0.6;">{{ shipping_address.phone }}</div>{% endif %}
                                            {% if email %}<div style="opacity: 0.6;">{{email}}</div>{% endif %}
                                          </div>
                                        </td>
                                        </tr>
                                    </tbody>
                                    </table>
                                </td>
                                <td style="padding-top:50px;padding-bottom:50px;vertical-align:top;">
                                    <table style="width:185px;padding-bottom:30px;font-family: SctoGroteskA-Regular;font-size:12px;color: black;line-height: 21px;">
                                    <tbody>
                                        <tr>
                                            <td style="padding-bottom:16px;">
                                            <span style="font-family: SctoGroteskA-Medium;font-size:12px;color:black;font-weight:bold;opacity: 1;">Billing Details</span>
                                            </td>
                                        </tr>
                                        <tr style="height:120px;">
                                          <td style="margin:0; vertical-align:top;">
                                          <div style="list-style:none;padding-left:0;margin:0;">
                                            {% if billing_address.name %} <div style="opacity: 0.6;">{{ billing_address.name }}</div>{% endif %}
                                            {% if billing_address.street %}<div style="opacity: 0.6;">{{ billing_address.address }}</div>{% endif %}
                                            {% if billing_address.city || billing_address.province || billing_address.country %}<div style="opacity: 0.6;">{{billing_address.city}} {{billing_address.province}} {{ billing_address.country }}, {{ billing_address.zip }}</div>{% endif %}
                                            {% if billing_address.phone %}<div style="opacity: 0.6;">{{ billing_address.phone }}</div>{% endif %}
                                            {% if email %}<div style="opacity: 0.6;">{{email}}</div>{% endif %}
                                          </div>
                                          </td>
                                        </tr>
                                        </tr>
                                    </tbody>
                                    </table>
                                </td>
                                <td style="padding-top:50px;padding-bottom:50px;vertical-align:top;">
                                    <table style="width:130px;padding-bottom:30px;font-family: SctoGroteskA-Regular;font-size:12px;color: black;line-height: 21px;">
                                    <tbody>
                                        <tr>
                                            <td style="padding-bottom:16px">
                                               <span style="font-family: SctoGroteskA-Medium;font-size:12px;color:black;font-weight:bold;opacity: 1;"> Payment Method</span>
                                            </td>
                                        </tr>
                                        <tr style="height:120px;vertical-align:top;">
                                            <td style="opacity: 0.6;">
                                              <ul style="list-style:none;padding-left:0;margin:0;">
                                              {% for transaction in transactions %}
                                                {% if transaction.status == "success" or transaction.status == "pending" %}
                                                  {% if transaction.kind == "authorization" or transaction.kind == "sale" %}
                                                    {% if transaction.payment_details.credit_card_company %}
                                                        <li style="font-family: SctoGroteskA-Regular;font-size:12px;color:black;">{{ transaction.payment_details.credit_card_company }}</li>
                                                        <li style="font-family: SctoGroteskA-Regular;font-size:12px;color:black;">**** {{ transaction.payment_details.credit_card_last_four_digits }}</li>
                                                      {% elsif transaction.gateway_display_name == "Gift card" %}
                                                        <li style="font-family: SctoGroteskA-Regular;font-size:12px;color:black;">{{ transaction.gateway_display_name }}</li>
                                                        <li style="font-family: SctoGroteskA-Regular;font-size:12px;color:black;">{{ transaction.payment_details.gift_card.last_four_characters }}</li>
                                                      {% else %}
                                                          <li style="font-family: SctoGroteskA-Regular;font-size:12px;color:black;">
                                                          {{ transaction.gateway_display_name }}
                                                          </li>
                                                      {% endif %}
                                                  {% endif %}
                                                {% endif %}
                                              {% endfor %}
                                              </ul>
                                              </td>
                                        </tr>
                                    </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <!-- @repeat items -->
    <tr>
        <td style="background-color:#f0f0f0;">
            <table style="border-collapse:collapse;margin:0 auto;max-width:500px;margin: 0px 50px;" width="100%" cellspacing="0" cellpadding="0" align="center">
            <tbody>
              {% for line in subtotal_line_items %}
                <tr style="border-top: solid 1px #979797; height: 120px;">
                    <td style="width:100px; height:60px;display:inline-block;vertial-align:top;padding-top:30px;">
                      {% if line.image %}
                      <img src="{{ line | img_url: 'compact_cropped' }}" width="60" height="60" data-imagetype="External" />
                      {% endif %}
                    </td>
                    <td style="vertical-align:top;padding-top:30px;">
                      {% if line.product.title %}
                        {% assign line_title = line.product.title %}
                      {% else %}
                        {% assign line_title = line.title %}
                      {% endif %}
                        <table style="max-width:400px;border-collapse:collapse;">
                        <tbody>
                            <tr style="vertical-align:top;height:30p">
                                <td width="129px" style="font-family:SctoGroteskA-Regular;color: black;font-size:10px;opacity: 0.6;">Product</td>
                                <td width="111px" style="font-family:SctoGroteskA-Regular;color: black;font-size:10px;opacity: 0.6;">Colour</td>
                                <td width="110px" style="font-family:SctoGroteskA-Regular;color: black;font-size:10px;opacity: 0.6;">Quantity</td>
                                <td width="50px" style="font-family:SctoGroteskA-Regular;color: black;font-size:10px;opacity: 0.6;">Total</td>
                            </tr>
                            <tr style="height:30px">
                                <td width="129px" style="font-family: SctoGroteskA-Medium;font-size: 11px;color: #000000;letter-spacing: 0;"> {{line_title}}</td>
                                <td width="111px" style="font-family: SctoGroteskA-Medium;font-size: 11px;color: #000000;letter-spacing: 0;">
                                  {% if line.variant.title != 'Default Title' %}
                                    <span>{{ line.variant.title }}</span>
                                  {% endif %}
                                </td>
                                <td width="110px" style="font-family: SctoGroteskA-Medium;font-size: 11px;color: #000000;letter-spacing: 0;">x {{line.quantity}}</td>
                                <td width="50px" style="font-family: SctoGroteskA-Medium;font-size: 11px;color: #000000;letter-spacing: 0;">{{line.final_price | money}}</td>
                            </tr>
                        </tbody>
                        </table>
                    </td>
                </tr>
              {% endfor %}
            </tbody>
            </table>
        </td>
    </tr>
    <!-- @end-repeat items -->

    <!-- items totals -->
    <tr>
        <td style="background-color:#f0f0f0;">
            <table style="width:500px;border-collapse:collapse;margin:0 auto;border-top:1px solid #979797;" cellspacing="0" cellpadding="0" align="center">
                <tbody>
                    <tr style="height: 30px;"><td></td><td></td><td></td></tr>
                    <tr>
                        <td align="left" width="360">
                          <span style="font-family:SctoGroteskA-Regular;color: black;opacity: 0.6;font-size:12px;">Ships by 22 March 2021</span>
                        </td>
                        <td align="left" width="90"><span style="font-family:SctoGroteskA-Regular;color: black;opacity: 0.6;font-size:10px;">Subtotal</span></td>
                        <td align="left" width="50"><span style="font-family: SctoGroteskA-Medium;font-size:11px;line-height:22px;color: black;">{{ subtotal_price | money }}</span></td>
                    </tr>
                    <tr>
                        <td align="left" width="360"></td>
                        <td align="left" width="90"><span style="font-family:SctoGroteskA-Regular;color: black;opacity: 0.6;font-size:10px;">Discount</span></td>
                        <td align="left" width="50"><span style="font-family: SctoGroteskA-Medium;font-size:11px;line-height:22px;color: black;">{{discounts_savings | money}}</span></td>
                    </tr>
                    <tr>
                        <td align="left" width="360"></td>
                        <td align="left" width="90"><span style="font-family:SctoGroteskA-Regular;color: black;opacity: 0.6;font-size:10px;">Tax</span></td>
                        <td align="left" width="50"><span style="font-family: SctoGroteskA-Medium;font-size:11px;line-height:22px;color: black;">{{ tax_price | money }}</span></td>
                    </tr>
                    <tr>
                        <td align="left" width="360"></td>
                        <td align="left" width="90"><span style="font-family:SctoGroteskA-Regular;color: black;opacity: 0.6;font-size:10px;">Shipping</span></td>
                        <td align="left" width="50"><span style="font-family: SctoGroteskA-Medium;font-size:11px;line-height:22px;color: black;">{{ shipping_price | money }}</span></td>
                    </tr>
                    <tr style="line-height:30px;">
                        <td align="left" width="360"></td>
                        <td align="left" width="90"><span  style="font-family: SctoGroteskA-Medium;color:black;font-size:12px;opacity:1;">Total</span></td>
                        <td align="left" width="50"><span  style="font-size:12px;font-family: SctoGroteskA-Medium;font-size:11px;line-height:22px;color: black;">{{ total_price | money }}</span></td>
                    </tr>
                    <tr style="height:50px"></tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
      <td>
        <a href="#">
          <img width="600" style="display: block;" src="https://cdn.shopifycdn.net/s/files/1/0274/6839/8703/files/Footer_Block_2x_66c03a3f-1028-43fc-a691-09795a31fff5.png?v=1609230333" />
        </a>
      </td>
    </tr>
    </tbody>
</table>
</body>
</html>
